.movie-card {
  position: relative;
  max-width: 270px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 8px #333;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}

.movie-link {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all .6s ease;
  
}

.movie-rating {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: rgba(103, 28, 184, 0.9);
  color: lavender;
  padding: 5px 11px 3px 8px;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  font-weight: normal;
}

.card-image {
  border-radius: 10px;
}

.card-title {
  margin-bottom: 20px;
  text-decoration: none;
  color: lavender;
  margin: 10px 0;
}

.movie-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin-top: auto;
}

.movie-year {
  color: lavender;
}

.movie-btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 6px;
  background-color: rgba(103, 28, 184, 0.9);
  padding: 5px 10px;
  color: lavender;
  border: 1px solid transparent;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease;
  border: 2px solid rgba(103, 28, 184, 0.9);
  
  &:hover {
    background-color: rgb(207, 207, 230);
    border: 2px solid rgba(103, 28, 184, 0.9);
    color: rgba(103, 28, 184, 0.9);
    box-sizing: border-box;
  }
}






