.movie-title {
  margin-top: 35px;
  color: lavender;
  letter-spacing: 3px;
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-page {
  background-color: transparent;  
  display: block;
  width: 35px;
  height: 35px;
}